*{
    padding: 0;
    margin: 0;
}
.container{
    background: linear-gradient(45deg,#fff060,#e7a300);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    color: #e7a300;
    text-align: center;
    margin: 80px 0px 40px 0px;
}
.name,.email,.password,.password2{
    margin: 20px;
    color:#706f6f;
    font-size: 12px;
}