html {
  font-family: 'Lato', sans-serif;
  font-weight: 400; 
}

body {
  overflow: hidden;
}

div.main {
  background-color: #164761;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  height: 100vh;
}

text{
  font-family: 'Lato', sans-serif;
  font-weight: bold; 
}

h1 {
  color: #064359;
  text-align: center;
  padding: 10px;
}

.logo{
  color: #ffffff;
  font-weight: 500;
  padding: 20px;
}
.my-navbar{
  background-color: #7DA8B9;
  height: 6vh;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

}

.navbar-item{
  color:white !important;
  position: relative;
}

h4 {
  color: white;
  text-shadow: #ccc;
}

p {
  color: white;
}

div.form-box{
  position: relative;
  overflow: scroll;
  width: fit-content;
  max-height: 65vh;
  margin: 15vh auto !important;
  padding: 15px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #ddd;
  margin-top: 150px;
}

form.login-signup{
  width: 430px;
  text-align: center;
}

form.login-signup .login-signup-input {
  background-color: transparent;
  margin: 0vh auto;
  text-align: left;
  margin-bottom: 15px;
  width: 60%;
}

form.login-signup Button{
  background-color: #286d87;
  margin: 0px 160px 0px 160px;
  margin: auto;
  padding: 2px 18px;
  border-radius: 6px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);
}  

.error-message {
  color: #bf0707;
}

div.homepage-box{
  position: relative;
  overflow: scroll;
  width: 97vw;
  height: 80vh;
  margin: 3vh auto !important;
  padding: 15px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 10px #ddd;
  margin-top: 150px;
}

.barbers-box{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  align-items: center;
}

.cardbox {
  padding: 10px;
  background-color: #0c3f5b;
  text-align: center;
  margin: 30px;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  border: transparent;
}

.cardbox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  padding: 15px;
  width: 210px;
  margin: 25px;
}

.barber-page{
  padding: 10px;
  background-color: #0c3f5b;
  text-align: center;
  margin: 30px auto;
  width: 90vw;
  height: 70vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
  border: transparent;
}

.containerbox {
  padding: 4px 16px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px;
  border-color: black;
}


footer {
  position: fixed;
  text-align: center;
  margin-top: 10px;
  bottom: 0px;
  left: -15px;
  right: -15px;
  height: 97px;
}

footer p {
  color: #ccc;
}

footer hr {
  border-style: none;
  height: 0px;
  color: transparent;
}
