.logo{
    color: #86C7E2!important;
    font-weight: 500;
}
.my-navbar{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color:#206f91;
  
}
.my-nav-link{
    color:#86C7E2 !important;
}