.loginPage{
    background-color: #206F91;
    width: auto;
    height: auto;
    position:relative;
    margin-top: 30px;
}

h1{
    color: #86C7E2;
    font-weight: bold;
    text-align: center;
}
div{
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
label{
    padding: 10px;
    font-style: italic;
    font-weight: 750;
}
button{
    background: #86C7E2;
    color: #206F91;
    font-weight: 750;
}