form.loginPage{
    background-color: #66bb9c;
    position: relative;
    width: 430px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
  }

div{
    text-align: center;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
label{
    padding: 10px;
    font-style: italic;
    font-weight: 750;
}
button{
    background: #86C7E2;
    color: #206F91;
    font-weight: 750;
}